# Visual Studio
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Ll]og/
logs/

# NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Rider
.idea/
*.sln.iml

# Docs
docs/node_modules/

# VS Code
.vscode/

# Trae
.trae/

# Node
node_modules/
dist/
.vite/